.main {
    background-color: #E3E3E0;
}

.main-menu {
    height: 2.5rem;
    background: #C4C4C4;
    align-content: center;
    padding: 1rem 0 1rem 0;
}

.main-menu__list {
    display: flex;
    justify-content: space-around;
    background-color: #C4C4C4;
    padding: 1rem 0 1rem 0;
}

.main-menu__links {
    text-decoration: none;
    color: black;
    font-weight: bold;
}