.footer {
    background-color: #D6BBA3;
}

.footer__header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em 3em;
}

.content-brand {
    display: flex;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 3em 3em 3em;
    flex-wrap: wrap;
}

.footer-menu__list {
    display: flex;
    flex-direction: column;
}

.footer-menu__link {
    text-decoration: none;
}

.footer-menu__itens {
    margin: 0.5rem 0;
}

.newsletter__button {
    background-color: black;
    color: white;
}

.footer-medias__img {
    margin: 10px 5px 0 0;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.whatsapp,
.telefone,
.footer-contact__p {
    display: flex;
    margin: 0.5rem 0;
}

.newsletter {
    display: flex;
    flex-direction: column;
}

.newsletter__div {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.newsletter__text{
    border-radius: 0.3rem;
}

.newsletter__button{
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
}

@media screen and (max-width:768px) {
    .footer-menu,
    .footer-medias,
    .footer-contact,
    .newsletter {
        margin-top: 2rem;
    }
}